/* BLOCCO LEZIONI */

/* regole per visualizzazione desktop */
#lezioni {
  background-color: #f9f9f9;
  text-align: center;
  margin-top: 30px;
}

#lezioni h1 {
  padding-top: 30px;
  padding-bottom: 25px;
}

#lezioni h3 {
  padding-top: 25px;
  padding-bottom: 10px;
}

/* regole per visualizzazione tablet/smartphone */
.col-md-12 p, .col-xs-12 p {
  padding-bottom: 30px;
  margin: 0 7%;
}



/* BLOCCO STEPS */

/* regole per visualizzazione desktop */
#steps{
  text-align: center;
}

#steps h1 {
  padding-top: 30px;
  padding-bottom: 25px;
}

#steps h3 {
  padding-top: 25px;
  padding-bottom: 10px;
}

/* regole per visualizzazione tablet/smartphone */






/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */


img{
  height: 200px;
}
